@model ProShop.ViewModels.CategoryVaraints.EditCategoryVariantViewModel;

<form class="alert alert-secondary custom-ajax-form" asp-page-handler="EditCategoryVariant" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="CategoryId" />

    @foreach (var VariantId in Model.SelectedVariants)
    {

        <input name="SelectedVariants" value="@VariantId" type="hidden" />
    }

    <div class="row">

        <div class="col-lg-6 my-2">
            <label class="d-flex justify-content-between form-label">
                تنوع های انتخاب شده این دسته بندی
            </label>

            <div class="border border-1 rounded mt-2 p-2" id="Selected-variant-box">

                @foreach (var item in Model.Variants.Where(c => Model.SelectedVariants.Contains(c.Id)))
                {
                    <button veariant-id="@item.Id" type="button" class="p-2 badge rounded-pill bg-info border-0">
                        @item.Value
                        @if (item.IsColor)
                        {
                            <span class="rounded" style="background: @item.ColorCode">
                                &nbsp;
                                &nbsp;
                                &nbsp;
                            </span>
                        }

                        @if (!Model.AddedVariantsToProductVariant.Contains(item.Id))
                        {
                            <i class="bi bi-x-circle text-danger mx-3 remove-selected-Variant-button"></i>
                        }

                    </button>
                }
            </div>
        </div>


        <div class="col-lg-6 my-2">
            <label class="d-flex justify-content-between form-label">
                تمامی تنوع های این دسته بندی
            </label>

            <div class="border border-1 rounded mt-2 p-2" id="all-variant-box">

                @foreach (var item in Model.Variants)
                {
                    <button veariant-id="@item.Id" type="button" class="p-2 badge rounded-pill bg-dark border-0 variant-Item-button">
                        @item.Value
                        @if (item.IsColor)
                        {
                            <span class="rounded" style="background: @item.ColorCode">
                                &nbsp;
                                &nbsp;
                                &nbsp;
                            </span>
                        }
                    </button>
                }
            </div>
        </div>

        <div class="col-12 my-2">
            <div class="d-grid d-lg-block">
                <button type="submit" class="btn btn-info d-inline-flex align-items-center submit-custom-ajax-button">
                    ویرایش
                    <span class="spinner-border spinner-border-sm  d-none ms-2"></span>
                </button>
            </div>
        </div>
    </div>
</form>
