@using ProShop.ViewModels
@model ProShop.ViewModels.Orders.ShowOrdersViewModel
@if (Model.Orders.Count > 0)
{
    <div class="table-responsive data-table-body">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-light">
                <tr>
                    <th>@Html.DisplayNameFor(x => x.Orders[0].Id)</th>
                    <th>@Html.DisplayNameFor(x => x.Orders[0].OrderNumber)</th>
                    <th>@Html.DisplayNameFor(x => x.Orders[0].AddressFullName)</th>
                    <th>@Html.DisplayNameFor(x => x.Orders[0].Destination)</th>
                    <th>@Html.DisplayNameFor(x => x.Orders[0].PaymentGateway)</th>
                    <th>@Html.DisplayNameFor(x => x.Orders[0].BankTransactionCode)</th>
                    <th>@Html.DisplayNameFor(x => x.Orders[0].CreatedDateTime)</th>
                    <th>@Html.DisplayNameFor(x => x.Orders[0].OrderStatus)</th>
                    <th class="text-center">عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Item in Model.Orders)
                {

                    <tr>
                        <td>@Item.Id</td>
                        <td>@Item.OrderNumber</td>
                        <td>@Item.AddressFullName</td>
                        <td>@Item.Destination</td>
                        <td>
                            <div class="text-center">
                                @if (Item.PaymentGateway == PaymentGateway.Mellat)
                                {
                                    <img width="75" height="75" src="~/images/Application/beMellat.png" alt="به پرداخت ملت" />

                                }
                                else if (Item.PaymentGateway == PaymentGateway.Zarinpal)
                                {
                                    <img width="75" height="75" src="~/images/Application/zarinPal.png" alt="زرین پال" />

                                }
                                else if (Item.PaymentGateway == PaymentGateway.ParbadVirtual)
                                {
                                    @:تستی
                                }
                                else if (Item.PaymentGateway is null)
                                {
                                    <button type="button" class="btn btn-outline-success">کیف پول</button>

                                }
                            </div>
                        </td>
                        <td>@Item.BankTransactionCode</td>
                        <td>@Item.CreatedDateTime</td>
                        <td>
                            @{
                                var orderStatusColor = string.Empty;
                                var orderStatusIcon = string.Empty;
                                switch (Item.OrderStatus)
                                {
                                    case OrderStatus.WaitingForPaying:
                                        orderStatusColor = "danger";
                                        orderStatusIcon = "coin";
                                        break;
                                    case OrderStatus.Processing:
                                        orderStatusColor = "primary";
                                        orderStatusIcon = "cpu";
                                        break;
                                    case OrderStatus.InventoryProcessing:
                                        orderStatusColor = "primary";
                                        orderStatusIcon = "box-fill";
                                        break;
                                    case OrderStatus.SomeParcelsDeliveredToPost:
                                        orderStatusColor = "warning";
                                        orderStatusIcon = "mailbox";
                                        break;
                                    case OrderStatus.CompletelyParcelsDeliveredToPost:
                                        orderStatusColor = "success";
                                        orderStatusIcon = "mailbox";
                                        break;
                                    case OrderStatus.DeliveredToClient:
                                        orderStatusColor = "success";
                                        orderStatusIcon = "check2-square";
                                        break;
                                }
                            }

                            <span class="badge rounded-pill bg-@orderStatusColor">
                                <i class="bi bi-@orderStatusIcon"></i>
                                @Item.OrderStatus.GetEnumDisplayName()
                            </span>
                        </td>
                        <td>
                            @if (Item.OrderStatus == OrderStatus.Processing)
                            {
                                <form method="post" asp-page-handler="ChangeStatusToInventoryProcessing" class="public-ajax-form" call-function-in-the-end="ChangeStatusToInventoryProcessingFunc">
                                    <input type="hidden" name="OrderId" asp-for="@Item.Id" />
                                    <button custom-message="وضعیت سفارش به پردازش انبار تغییر یابد ؟" type="button" class="delete-row-button btn button7">
                                        <span class="bi bi-box-seam"></span>
                                        ورود به انبار
                                    </button>
                                </form>
                            }
                            <a asp-page-handler="OrderDetails" asp-route-orderId="@Item.Id" custom-title="جزییات سفارش" class="btn button7 show-modal-form-button">
                                <span>جزییات</span>
                                <span class="bi bi-info"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Pagination -->
        <hr />
        <div class="btn-toolbar my-3 d-flex justify-content-center" id="main-pagianation">
            <div class="btn-group me-2">
                @if (Model.Pagination.CurrentPage != 1)
                {
                    <button value="1" type="button" class="btn btn-outline-dark">
                        <i class="bi bi-chevron-double-right"></i>
                    </button>
                    <button value="@(Model.Pagination.CurrentPage - 1)" type="button" class="btn btn-outline-dark">قبلی</button>
                }
                @for (int counter = Model.Pagination.StartPage; counter <= Model.Pagination.EndPage; counter++)
                {
                    <button value="@counter" type="button"
                            class="@(counter == Model.Pagination.CurrentPage ? "active " : string.Empty)btn btn-outline-dark">
                        @counter
                    </button>
                }
                @if (Model.Pagination.CurrentPage != Model.Pagination.PagesCount)
                {
                    <button value="@(Model.Pagination.CurrentPage + 1)" type="button" class="btn btn-outline-dark">بعدی</button>
                    <button data-bs-toggle="tooltip" data-bs-placement="top" title="کل صفحات @Model.Pagination.PagesCount" value="@Model.Pagination.PagesCount" type="button" class="btn btn-outline-dark">
                        <i class="bi bi-chevron-double-left"></i>
                        @Model.Pagination.PagesCount
                    </button>
                }
            </div>
            <div>
                <select id="page-count-selectbox" class="form-control" asp-for="Pagination.PageCount" asp-items="Html.GetEnumSelectList<PageCount>()"></select>
            </div>
        </div>
        <div class="col-10 col-sm-6 col-md-4 col-xl-3 m-auto">
            <div class="input-group">
                <input id="page-number-input" value="@Model.Pagination.CurrentPage" min="1" max="@Model.Pagination.PagesCount" type="number" class="form-control rtl-direction" placeholder="شماره صفحه">
                <button id="goto-page-button" class="btn btn-outline-dark" type="submit">برو به صفحه</button>
            </div>
        </div>
        <!-- End pagination -->
    </div>
}
else
{
    <partial name="_RecordNotFound" />
}