@using ProShop.ViewModels
@model ProShop.ViewModels.Brands.ShowBrandsViewModel
@if (Model.Brands.Count > 0)
{
    <div class="table-responsive data-table-body">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-light">
                <tr>
                    <th>@Html.DisplayNameFor(x => x.Brands[0].Id)</th>
                    <th>@Html.DisplayNameFor(x => x.Brands[0].TitleFa)</th>
                    <th>@Html.DisplayNameFor(x => x.Brands[0].TitleEn)</th>
                    <th>@Html.DisplayNameFor(x => x.Brands[0].IsIranianBrand)</th>
                    <th>@Html.DisplayNameFor(x => x.Brands[0].LogoPicture)</th>
                    <th>@Html.DisplayNameFor(x => x.Brands[0].BrandRegistrationPicture)</th>
                    <th>@Html.DisplayNameFor(x => x.Brands[0].BrandLinkEn)</th>
                    <th>@Html.DisplayNameFor(x => x.Brands[0].IsConfirmed)</th>
                    <th class="text-center">عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Item in Model.Brands)
                {

                    <tr>
                        <td>@Item.Id</td>
                        <td>@Item.TitleFa</td>
                        <td>@Item.TitleEn</td>
                        <td>
                            @if (Item.IsIranianBrand)
                            {
                                <img src="~/images/application/iran-logo.png" class="rounded max-width-Icon" alt="ایرانی" />
                            }
                            else
                            {
                                <img src="~/images/application/global-icon.png" class="rounded max-width-Icon" alt="خارجی" />
                            }

                        </td>
                        <td>
                            <span class="d-flex justify-content-center">
                                <img src="~/images/brands/@Item.LogoPicture" class="rounded max-width-Icon" />
                            </span>
                        </td>
                        <td class="text-center">
                            @if (Item.BrandRegistrationPicture is null)
                            {
                                @:ثبت نشده است
                            }
                            else
                            {
                                <img src="~/images/BrandRegistrationPictures/@Item.BrandRegistrationPicture" alt="برگه ثبت برند" class="rounded max-width-Icon" />
                            }
                        </td>
                        <td>
                            @if (Item.BrandLinkEn is null)
                            {
                                @:ثبت نشده است
                            }
                            else
                            {
                                <a href="@Item.BrandLinkEn" target="_blank">@Item.BrandLinkEn</a>
                            }
                        </td>
                        <td class="text-center">
                            @if (Item.IsConfirmed)
                            {

                                <div class="d-grid fs-4">
                                    <span class="bi bi-check2-circle text-success"></span>
                                </div>
                            }
                            else
                            {
                                <div class="d-grid fs-4">
                                    <span class="bi bi-exclamation-circle text-danger"></span>
                                </div>
                            }
                        </td>
                        <td class="text-center">
                            <a asp-page-handler="Edit" asp-route-Id="@Item.Id" custom-title="ویرایش برند &quot; @Item.TitleFa - @Item.TitleEn &quot;" class="btn btn-warning btn-sm m-1 d-inline-block show-modal-form-button" functionNameToCallInTheEnd="EditBrandFunction">
                                ویرایش
                                <span class="bi bi-eraser"></span>
                            </a> 
                            @if (Item.IsConfirmed)
                            {
                                <a asp-page-handler="BrnadDetails" asp-route-brandId="@Item.Id" custom-title="جزییات برند &quot; @Item.TitleFa - @Item.TitleEn &quot;" class="btn btn-primary m-1 btn-sm d-inline-block show-modal-form-button">
                                  جزییات برند
                                    <span class="bi bi-info"></span>
                                </a>
                            }
                            else
                            {
                                <a asp-page-handler="BrnadDetails" asp-route-brandId="@Item.Id" custom-title="فعال کردن برند &quot; @Item.TitleFa - @Item.TitleEn &quot;" class="btn btn-success btn-sm m-1 d-inline-block show-modal-form-button">
                                   فعال کردن
                                    <span class="bi bi-check-square"></span>
                                </a>
                            }

                        </td>

                    </tr>
                }
            </tbody>
        </table>

        <!-- Pagination -->
    <hr />
        <div class="btn-toolbar my-3 d-flex justify-content-center" id="main-pagianation">
            <div class="btn-group me-2">
                @if (Model.Pagination.CurrentPage != 1)
                {
                    <button value="1" type="button" class="btn btn-outline-dark">
                        <i class="bi bi-chevron-double-right"></i>
                    </button>
                    <button value="@(Model.Pagination.CurrentPage - 1)" type="button" class="btn btn-outline-dark">قبلی</button>
                }
                @for (int counter = Model.Pagination.StartPage; counter <= Model.Pagination.EndPage; counter++)
                {
                    <button value="@counter" type="button"
                    class="@(counter == Model.Pagination.CurrentPage ? "active " : string.Empty)btn btn-outline-dark">
                        @counter
                    </button>
                }
                @if (Model.Pagination.CurrentPage != Model.Pagination.PagesCount)
                {
                    <button value="@(Model.Pagination.CurrentPage + 1)" type="button" class="btn btn-outline-dark">بعدی</button>
                    <button data-bs-toggle="tooltip" data-bs-placement="top" title="کل صفحات @Model.Pagination.PagesCount" value="@Model.Pagination.PagesCount" type="button" class="btn btn-outline-dark">
                        <i class="bi bi-chevron-double-left"></i>
                        @Model.Pagination.PagesCount
                    </button>
                }
            </div>
            <div>
                <select id="page-count-selectbox" class="form-control" asp-for="Pagination.PageCount" asp-items="Html.GetEnumSelectList<PageCount>()"></select>
            </div>
        </div>
        <div class="col-10 col-sm-6 col-md-4 col-xl-3 m-auto">
            <div class="input-group">
                <input id="page-number-input" value="@Model.Pagination.CurrentPage" min="1" max="@Model.Pagination.PagesCount" type="number" class="form-control rtl-direction" placeholder="شماره صفحه">
                <button id="goto-page-button" class="btn btn-outline-dark" type="submit">برو به صفحه</button>
            </div>
        </div>
        <!-- End pagination -->
</div>
}
else
{
    <partial name="_RecordNotFound" />
}