@using ProShop.Entities
@model List<ProShop.ViewModels.ProductVariant.ShowProductVariantViewModel>




<div class="card">
    <div class="card-body">

        @if (Model.Count > 0)
        {
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(c=>c[0].VariantCode)</th>
                        <th scope="col">@Html.DisplayNameFor(c=>c[0].VariantValue)</th>
                        <th scope="col">@Html.DisplayNameFor(c=>c[0].GatanteeFullTitle)</th>
                        <th scope="col">@Html.DisplayNameFor(c=>c[0].Price)</th>
                        <th scope="col">@Html.DisplayNameFor(c=>c[0].offPercentage)</th>
                        <th scope="col">@Html.DisplayNameFor(c=>c[0].OffPrice)</th>
                        <th scope="col">@Html.DisplayNameFor(c=>c[0].StartDateTime)</th>
                        <th scope="col">@Html.DisplayNameFor(c=>c[0].EndDateTime)</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var Item in Model)
                    {
                        <tr>
                            <td class="table-success">@Item.VariantCode</td>

                            <td class="table-success">

                                @Item.VariantValue
                                @if (Item.VariantIsColor)
                                {
                                    <span class="rounded float-inline-start" style="background: @Item.VariantColorCode">
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                    </span>
                                }

                            </td>
                            <td class="table-success">@Item.GatanteeFullTitle</td>
                            <td class="table-success">
                                <span class="persian-numbers">
                                    @Item.Price.ToString("N0")
                                </span>  تومان
                            </td>

                            <td class="table-success">
                                @if (Item.offPercentage != null)
                                {
                                    <span>
                                        @Item.offPercentage.Value % درصد
                                    </span>

                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </td>

                            <td class="table-success">
                                @if (Item.OffPrice != null)
                                {
                                    <span class="persian-numbers">
                                        @Item.OffPrice.Value.ToString("N0")  تومان
                                    </span>
                                   
                                    }
                                else
                                {
                                    <p>-</p>
                                }
                            </td>



                            <td class="table-success">
                                @if (Item.StartDateTime != null)
                                {
                                    <span>
                                        @Item.StartDateTime 
                                    </span>

                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </td>

                            <td class="table-success">
                                @if (Item.EndDateTime != null)
                                {
                                    <span>
                                        @Item.EndDateTime
                                    </span>

                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </td>

                            <td class="table-success">
                                <button pridcutVariantId="@Item.Id" class="btn buttonDetails get-html-with-ajax" functionNameToCallOnClick="EditProductVariant" type="button">
                                    ویرایش قیمت
                                </button>

                                <a pridcutVariantId="@Item.Id" class="btn buttonDetails get-html-with-ajax" functionNameToCallOnClick="EditAddDiscountProductVariant">
                                    ایجاد تخفیف / ویرایشُ
                               </a>

                            </td>
                        </tr>
                    }

                </tbody>


            </table>


        }
        else
        {
            <partial name="_RecordNotFound"></partial>
        }

    </div>
</div>